body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.premierleague {
    height: 27vh;
    background-image: url(./img/Premier-League.jpeg);
    background-size: cover;
    background-position: 50% 55%;
    filter: grayscale(100%);
    transition: 0.3s;
}

.laliga {
    height: 27vh;
    background-image: url(./img/laliga_2016-21_patch.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 55%;
    filter: grayscale(100%);
    transition: 0.3s;
}

.bundesliga {
    height: 27vh;
    background-image: url(./img/bundesliga.webp);
    background-size: cover;
    background-position: 50% 50%;
    filter: grayscale(100%);
    transition: 0.3s;
}

.seriea {
    height: 27vh;
    background-image: url(./img/serie-a.jpeg);
    background-size: cover;
    background-position: 50% 55%;
    filter: grayscale(100%);
    transition: 0.3s;
}

.liganos {
    height: 27vh;
    background-image: url(./img/liga-nos.png);
    background-size: cover;
    background-position: 50% 50%;
    filter: grayscale(100%);
    transition: 0.3s;
}

.league:hover {
    height: 37vh;
    filter: none;
    transform: scaleY(1);
    transform-origin: inherit;
    transition: 0.3s;
    border: solid 1px black;
    margin: 1vh 0;
    background-position: 50% 50%;
}

.searchDropdown {
    width: 22vw;
}

.searchDropdown {
    border: none;
}

/* Make colors visible all the time when not using a laptop */
@media (min-width: 1px) and (max-width: 768px) {
    .league {
        filter: none;
    }

    .league:hover {
        height: 27vh;
    }

    .searchDropdown {
        width: 100vw;
    }
}

@media (min-width: 769px) and (max-width: 991px) {
    .league:hover {
        height: 35vh;
    }

    .searchDropdown {
        width: 100vw;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .league:hover {
        height: 40vh;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .premierleague {
        height: 30vh;
        background-position: 50% 55%;
    }

    .laliga {
        height: 30vh;
        background-position: 50% 58%;
    }

    .laliga:hover {
        background-position: 50% 55%;
    }

    .bundesliga {
        height: 30vh;
        background-position: 50% 50%;
    }

    .seriea {
        height: 30vh;
        background-position: 50% 65%;
    }

    .liganos {
        height: 30vh;
        background-position: 50% 54%;
    }
}

@media (min-width: 1200px) and (max-width: 1500px) {
    .premierleague {
        height: 35vh;
        background-position: 50% 56%;
    }

    .laliga {
        height: 35vh;
        background-position: 50% 58%;
    }

    .laliga:hover {
        background-position: 50% 55%;
    }

    .bundesliga {
        height: 35vh;
        background-position: 50% 60%;
    }

    .seriea {
        height: 35vh;
        background-position: 50% 65%;
    }

    .liganos {
        height: 35vh;
        background-position: 50% 58%;
    }

    .league:hover {
        height: 40vh;
    }
}
